---
import AnimatedOnViewportEnter from "../components/utils/AnimatedOnViewportEnter.astro";

interface Props {
  title: string;
  descriptionInParagraphs: string[];
  color: "red" | "blue" | "orange";
}

const { title, descriptionInParagraphs, color } = Astro.props;
---

<AnimatedOnViewportEnter animation="animate__animated animate__fadeIn">
  <article
    class:list={[
      "rounded border py-7 pt-16 px-4 flex flex-col gap-4 w-full",
      {
        "blue-gradient-top border-palette-mgd shadow-2xl shadow-palette-blue":
          color === "blue",
        "red-gradient-top border-palette-red shadow-2xl shadow-palette-red":
          color === "red",
        "orange-gradient-top border-palette-orange": color === "orange",
      },
    ]}
  >
    <header class="flex flex-col gap-6">
      <div
        class:list={[
          "grid place-content-center rounded-full w-fit border p-2 shadow-md",
          {
            "blue-gradient-bottom border-palette-mgd": color === "blue",
            "red-gradient-bottom border-palette-red": color === "red",
            "orange-gradient-bottom border-palette-orange": color === "orange",
          },
        ]}
      >
        <slot name="icon" />
      </div>
      <h3 class="font-bold text-xl">{title}</h3>
    </header>
    {
      descriptionInParagraphs.map((paragraph) => (
        <p class="text-palette-lightGray text-lg">{paragraph}</p>
      ))
    }
  </article>
</AnimatedOnViewportEnter>

<style scoped>
  .blue-gradient-top {
    background: #29838d;
    background: radial-gradient(
        circle at center top,
        #29838d 0%,
        rgba(0, 0, 63, 0.4) 70%
      ),
      url("/graph-paper-blue.svg");
  }

  .red-gradient-top {
    background: #c6394c;
    background: radial-gradient(
        circle at center top,
        #c6394c 0%,
        rgba(0, 0, 63, 0.4) 70%
      ),
      url("/graph-paper-red.svg");
  }

  .orange-gradient-top {
    background: #f49e58;
    background: radial-gradient(
        circle at center top,
        #f49e58 0%,
        rgba(0, 104, 133, 0.4) 100%
      ),
      url("/graph-paper-orange.svg");
  }

  .blue-gradient-bottom {
    background: #29838d;
    background: radial-gradient(
      circle at center bottom,
      #29838d 0%,
      rgba(0, 0, 63, 0.4) 70%
    );
  }

  .red-gradient-bottom {
    background: #c6394c;
    background: radial-gradient(
      circle at center bottom,
      #c6394c 0%,
      rgba(0, 0, 63, 0.4) 70%
    );
  }

  .orange-gradient-bottom {
    background: #f49e58;
    background: radial-gradient(
      circle at center bottom,
      #f49e58 0%,
      rgba(0, 104, 133, 0.4) 100%
    );
  }
</style>
