---
import { Image } from "astro:assets";

import MGDLogo from "../_images/logo-mgd-monocromo.svg";

import LanguageSelector from "./LanguageSelector";
import { locales } from "i18n";
---

<nav class="p-4 h-full bg-palette-white">
  <ul class="h-full flex flex-row place-items-center justify-between w-full">
    <li class="h-fit">
      <a href="/"
        ><Image
          class="w-[200px] md:w-[300px]"
          src={MGDLogo}
          alt="Home"
          aria-label="Max Gain development Home"
        /></a
      >
    </li>
    <li class="h-fit">
      <LanguageSelector locales={locales} client:only />
    </li>
  </ul>
</nav>
