---
export interface Props {
  animation: string;
  repeat?: boolean;
}

const { animation, repeat = false } = Astro.props;
---

<div
  class="animate invisible"
  data-animation=`${animation}`
  data-animation-repeat=`${repeat ? 'repeat' : ''}`
>
  <slot />
</div>
